.buttons{
    min-height: 265px;
    color: rgb(86, 87, 128);
}
.buttons button{
    padding: 30px 10px;
}
@media screen and (max-width:800px) {
    .buttons button{
        padding: 25px 10px;
    }
}
@media screen and (max-width: 500px) {
    .buttons{
        min-height: 300px;
    }
    .buttons button{
        padding: 20px 10px;
    }
}