.header{
    height: 30vh;
    margin-bottom: 20px;
}
.title{
    font-size: 1rem;
}
@media screen and (max-width: 800px){
    .header{
        height: 20vh;
        margin-bottom: 10px;
    }
    .title{
        font-size: 0.67rem;
    }
}