.nav{
    height: 90%;
    padding: 3.5vw;
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    justify-content: flex-start;
}
.navigation li{
    list-style: none;
    position: relative;    
}

.navigation a {
    text-decoration: none;
    color: rgb(187, 188, 243);
    width: 7vw;
    height: 7vw;
    margin-right: 2vw;
    line-height: 7vw;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.navigation li:not(:first-child)::before{
    content:"";
    width: 11vw;
    border-top: 3px solid rgb(189, 182, 202);
    display: inline-block;
    margin: 10px;
}
.span{
    position: absolute;
    bottom: -6vw;
    left: 8vw;
    font-size: large;
    display: block;
    width: 16vw;
    /*position: absolute;
    bottom: -20px;
    left: 13vw;
    text-align: center;*/
}
.navigation li:first-child .span{
    left: -4.5vw;
}
.active.span{
    color: green;
}
@media screen and (max-width: 1000px){
    .navigation a{
        width: 11vw;
        height: 11vw;
        line-height: 11vw;
        font-size: 1.6rem;
    }
    .navigation li:not(:first-child)::before{
        content:"";
        width: 7vw;
        border-top: 3px solid rgb(189, 182, 202);
        display: inline-block;
        margin: 8px;
    }      
}

@media screen and (max-width:500px) { 
    .navigation a{
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
    }
    .navigation li:not(:first-child)::before{
        width: 0px;
        margin: 4px;
    }
}