.success{
    width: 100%;
    margin: 10% auto;
    text-align: center;
}
.success i{
    font-size: 7rem;
    font-weight: bold;
    line-height: 18vw;
    background-color:rgb(222, 222, 238);
    color:rgb(123, 124, 180);
    width: 18vw;
    height: 18vw;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.success h1{
    color: rgb(54, 54, 85);
    font-size: 2rem;
    letter-spacing: -2px;
    margin: 5% 0 10% 0;
}
.success button{
    width: 50%;
}
@media screen and (max-width: 1000px){
    .success{
        margin: 30% auto;
    }
    .success i{
        font-size: 4rem;
    }
    .success h1{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:500px){
    .success i{
        width: 30vw;
        height: 30vw;
        line-height: 30vw;
    }
    .success h1{
        font-size: 1.1rem;
        letter-spacing: -2px;
        margin: 10% 0 20% 0;
    }   
    .success button{
        width:70%;
    }
}