*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  padding: 20px;
  margin: 20px 1.5%;
  width: 22%;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color:rgb(86, 87, 128);
  outline: none;
  border: 3px solid rgb(189, 182, 202);
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  -ms-border-radius:15px;
  -o-border-radius:15px;
}

i{
  margin-right: 1rem;
}

.btn{
  color: rgb(86, 87, 128);
}
.btn_active{
  color: rgb(187, 188, 243);
  background-color:rgb(54, 54, 85);
}
.active span{
  color: rgb(54, 54, 85);
}
h2{
  color: rgb(54, 54, 85);
}

@media screen and (max-width: 800px) {
   button{
      width: 30%;
      font-size: 1.3rem;
      line-height: 1.3rem;
  }
  i{
      margin-right:0.2rem;
  }
}

@media screen and (max-width: 500px) {
  button{
    width: 47%;
    font-size: 1.1rem;
  }
}

