*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Roboto', sans-serif;
  
}

body {
  margin: 0;
  position: relative;
  font-size: 10px;
  font-family:  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  padding: 20px 10px;
  margin: 20px 1.5%;
  width: 22%;
  font-family:  'Roboto', sans-serif;  
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: -1px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color:rgb(86, 87, 128);
  outline: none;
  border: 3px solid rgb(189, 182, 202);
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  -ms-border-radius:15px;
  -o-border-radius:15px;
}

i{
  margin-right: 1rem;
}

.btn{
  color: rgb(86, 87, 128);
}
.btn:hover{
  background-color: rgb(222, 222, 238);
}
.btn_active{
  color: rgb(187, 188, 243);
  background-color:rgb(54, 54, 85);
  border: 3px solid rgb(54, 54, 85);  
}
.btn_active:hover{
  background-color: black;
  color: white;
}
.active span{
  color: rgb(54, 54, 85);
}
h2{
  color: rgb(54, 54, 85);
}
form{
  padding: 0 3.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 200px;
  color: rgb(189, 182, 202);
}
label{
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -2px;    
}
input, textarea{
  height: 80px;
  font-family:  'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(54, 54, 85);
  padding: 10px 20px;
  margin: 10px 0 30px 0;
  border-radius: 10px;
  outline: none;
  border: 4px solid rgb(189, 182, 202);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
input::placeholder, textarea::placeholder{
  font-weight: bold;
  letter-spacing: -2px;
  opacity: 0.4;
  color:rgb(189, 182, 202);
}
input[type="text"], input[type="input"], input[name="edition"], textarea {
  width: 100%;
}
input[name="pagesNumber"]{
  width: 30%;
}  
input[type="date"], input[name="format"]{
  width: 40%;
}
textarea{
  height: 150px;
}

@media screen and (max-width: 1000px) {
  input[name="pagesNumber"]{
    width: 50%;
  }  
  input[type="date"], input[name="format"]{
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
   button{
      width: 30%;
      font-size: 1.3rem;
      line-height: 1.3rem;
  }
  i{
      margin-right:0.2rem;
  }
  form{
    min-height: 250px;
  }
  input::placeholder, textarea::placeholder{
    font-size: 1.8rem;    
  }  
}

@media screen and (max-width: 500px) {
  button{
    width: 47%;
    padding: 12px 10px;
    margin: 10px 1.5%;
  }
  form{
    min-height: 300px;
    justify-content: space-around;
  }
  label, input::placeholder, textarea::placeholder{
    font-size: 1.1rem;    
  }
  input, textarea{
    height: 50px;
    font-size: 1.3rem;  
    padding: 7px 15px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    border: 3px solid rgb(189, 182, 202);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  input[type="date"], input[name="format"]{
    width: 100%;
  }
  textarea{
    height: 100px;
  }
}

